<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- ##LAT_COORD## and ##LONG_COORD## will be replaced with coordinates (formatted int Degress, int Minutes, int Seconds) -->
		<!-- ##LAT_GEO## and ##LONG_GEO## will be replaced with geocodes (double) -->
		<!-- add key="MAP_URL_MASK" value="https://maps.google.com/maps?q=##LAT_COORD##,##LONG_COORD##" / -->
		<add key="MAP_URL_MASK" value="https://maps.google.com/maps?q=##LAT_COORD##,##LONG_COORD##" />
		<!-- true/false: when true, URL encode escaped LAT and LONG values.  When false, just escape as is. -->
		<add key="ENCODE_COORD" value="false" />
		<!-- Custom format mask for the string, taking 4 inputs: 0 = +/-, 1 = Degrees, 2 = Minutes, 3 = Seconds  -->
		<add key="COORD_FORMAT_MASK" value="{0}{1}° {2}' {3}&quot;" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>